<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itzeng.springbootstoptool.mapper.AdminMapper">
    <!--    修改管理员-->
    <update id="amendadmin">
        update admin
        <set>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="userName != null and userName != ''">
                userName = #{userName},
            </if>
            <if test="sorct != null">
                sorct = #{sorct},
            </if>
        </set>
        where adminid = #{adminid}
    </update>

<!--    批量删除管理员-->
  <delete id="amendadminall">
      delete
      from admin
      where adminid in
      <foreach collection="ids" item="id" separator="," open="(" close=")">
          #{id}
      </foreach>

  </delete>

</mapper>