<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itzeng.springbootstoptool.mapper.StallMapper">
<!--    新增车位表信息-->
    <insert id="addStall">
       insert into stall(stall_id, areaid, location, price, createTime, createName, status)
       values (#{stallId},#{areaid},#{location},#{price},#{createTime},#{createName},#{status})
    </insert>
    <!--    修改车位表-->
    <update id="amendStall">
        update stall
        <set>
            <if test="areaid != null">
                areaid = #{areaid},
            </if>
            <if test="location != null and location != ''">
                location = #{location},
            </if>
            <if test="price != null">
                price = #{price},
            </if>
            <if test="createTime != null">
                createTime = #{createTime},
            </if>
            <if test="createName != null and createName != ''">
                createName = #{createName},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where stall_id = #{stallId}
    </update>

<!--    批量删除车位表deleteStall-->
    <delete id="deleteStall">
        delete
        from stall
        where stall_id in
        <foreach collection="stallId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>

<!--    批量删除车位的图片所有信息-->
    <delete id="deleteImage">
        delete
        from image
        where stall_id in
        <foreach collection="stallId" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!--    新增车位图片-->
    <insert id="getByImage">
        insert into image(url, stall_id)
        values
        <foreach collection="byimage" item="image" separator=",">
            (#{image.url}, #{image.stallId})
        </foreach>
    </insert>


</mapper>